.kat-button {
  width: 10%;
  border-radius: 50%;
  border: 0.5em solid navy;
}

.kat-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
